@import url('https://fonts.cdnfonts.com/css/nasalization-2');

.hero-section {
  background: linear-gradient(90deg, rgba(73,169,246,1) 58%, rgba(234,92,244,1) 100%);
  position: relative;
}
@media screen and (max-width: 992px) {
  .hero-section .wave {
    bottom: -180px;
  }
}
.hero-section, .hero-section > .container > .row {
  height: 100vh;
  min-height: 880px;
}
.hero-section.inner-page {
  height: 60vh;
  min-height: 0;
}
.hero-section.inner-page .hero-text {
  transform: translateY(-150px);
  margin-top: -120px;
}
@media screen and (max-width: 992px) {
  .hero-section.inner-page .hero-text {
    margin-top: -80px;
  }
}
.hero-section h1 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 40px;
  }
}
@media screen and (max-width: 992px) {
  .hero-section .hero-text-image {
    margin-top: 4rem;
  }
}
.hero-section p {
  font-size: 18px;
  color: #fff;
}
.hero-section .iphone-wrap {
  position: relative;
}
@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap {
    text-align: center;
  }
}
.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  position: absolute;
  top: -50%;
  overflow: hidden;
  left: 0;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}
.hero-section .iphone-wrap .phone-2, .hero-section .iphone-wrap .phone-1 {
  width: 250px;
}
@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-1 {
    margin-left: -150px;
  }
}
.hero-section .iphone-wrap .phone-2 {
  margin-top: 50px;
  margin-left: 100px;
  width: 250px;
}
@media screen and (max-width: 992px) {
  .hero-section .iphone-wrap .phone-2 {
    width: 250px;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
  }
}
.navbar-brand{
   font-size: 48px;
   font-family: 'Nasalization', sans-serif;
   margin: -10px 0px -30px 0px;
}
.image{
  width: 4vh;
  margin-top: -10vh;
}
.about_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 5em;
}
.form_row {
    margin-left: 25em;
}